#pre{
    background-color: rgb(225,225,225);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    font-family: 'Kaushan Script', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}
#user{
    margin: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    width: 300px;
    height: 30px;
    font-size: 26px;
    font-family: 'Charm', cursive;
}
#nbtn{
    width:90px;
    height: 30px;   
    font-family: 'Mate SC', serif;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid;
}
#nbtn:hover{
    cursor: pointer;
    background-color: rgb(204, 204, 204);
}
#userinp:focus{
    outline:none;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
}
#user:focus{
    outline:none;
    border: none;
    border-bottom: 1px solid black;
}
#value2:focus{
    outline:none;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
}
body{
    margin:0;
    padding:0;
    background-color: rgb(247, 157, 125);
}
#title{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    background-color: tomato;
    height: 75px;
    display: flex;
    align-items: center;
    overflow:auto;
}
#n{
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    background-color: tomato;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#n span{
    margin-right: 20px;
}
#userinp{
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    height: 35px;
}
#value{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    padding : 5px 15px;
    padding-bottom: 0px;
}
#value2{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    margin: 0 15px;
    height: 50px;
}
#entry:focus{
    outline: none;
}
.body{
    font-family: 'Patrick Hand', cursive;
}
.content{
    font-size: 25px;
    padding-left: 15px;
}
.elements{
    margin: 0;
    padding: 0;
}
.check{
    position: relative;
}
#add{
    font-family: 'Patrick Hand', cursive; 
    margin:0px; 
    height:45px; 
    width:60px; 
    font-size: 17px; 
    border-radius: 15px; 
    border:none; 
    background-color: antiquewhite;
}
#add:hover{
    background-color: rgb(252, 222, 183);
    cursor: pointer;
}
#clear{
    font-family: 'Patrick Hand'; 
    margin:0px; 
    height:45px; 
    width:60px; 
    font-size: 17px; 
    border-radius: 15px; 
    border:none; 
    background-color: antiquewhite;
}
#clearList{
    font-family: 'Patrick Hand'; 
    margin:0px; 
    height:45px; 
    width:80px; 
    font-size: 17px; 
    border-radius: 15px; 
    border:none; 
    background-color: antiquewhite;
}
#clear:hover{
    background-color: rgb(252, 222, 183);
    cursor: pointer;
}
#clearList:hover{
    background-color: rgb(252, 222, 183);
    cursor: pointer;
}
.trr:hover{
    background-color: #fa895f;
}
.rcheck{
    width:30px;
    height: 30px;
    position: absolute;
    margin:auto;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
}
.rtask{
    height: 30px;
    width: 100%;
    border: none;
    background-color: transparent;
    margin-left: 5px;
    font-size: 18px;
}
.rtask:focus{
    outline: none;
}
.redit{
    background-color: transparent;
    border: 2px solid transparent;
    margin-left: 8px;
    height:35px;
    width:35px;
    font-size: 20px;
}
.redit:hover{
    border:2px solid #977d75;
    border-radius: 15px;
}
.rstar{
    height:35px;
    width:35px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid transparent;
    text-align: center;
}
.rstar:hover{
    border: 2px solid #ffc83d;
    border-radius: 15px;
}
.rcolor{
    background-color: transparent;
    border: 1px solid transparent;
    width: 50px;
    height: 30px;
    font-size: 19px;
}
.rcolor:focus{
    outline:none;
}
.rdel{
    background-color: transparent;
    border: 1px solid transparent;
    height:35px;
    width:35px;
    font-size: 20px;
}
.rdel:hover{
    border: 2px solid rgb(240, 58, 23);
    border-radius: 15px;
}